@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Wet+Paint&display=swap');

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to top right, #5B3BCA 0%, #9174EA 100%);
  font-family: "Rubik Wet Paint", system-ui;
}

.container {
  width: 1000px;
  display: flex;
  background-color: #FFFFFF;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.form input {
  font-family: Arial, sans-serif;
}

.illustration {
  flex: 6.5;
  background: linear-gradient(to top right, #5B3BCA 0%, #9174EA 100%);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.illustration h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.form {
  flex: 3.5;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form form {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.illustration img {
  width: 100%;
  height: auto;
}

.form h1 {
  font-size: 24px;
  color: #5A3DCB;
  margin-bottom: 20px;
}

.form label {
  font-size: 14px;
  color: #7F7F7F;
  margin-bottom: 5px;
}

.form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.form button {
  width: 60%;
  padding: 10px;
  background-color: #5A3AC9;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
  margin: 0 auto;
}

.form button:hover {
  background-color: #5C1381;
}

.form p {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.form p a {
  color: #6A1B9A;
  text-decoration: none;
}

.form p a:hover {
  text-decoration: underline;
}