.form span {
  text-align: center;
}

.forgot-password {
  color: #6F57D3;
  font-size: 14px;
  margin-bottom: 10px;
  display: block;
  text-align: right;
  text-decoration: none;
}

.login-button {
  background-color: #6F57D3;
  color: white;
  border: none;
  padding: 12px;
  width: 100%;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
}

.create-account {
  color: #6F57D3;
  font-size: 14px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  margin-top: 10px;
}